<!--
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Recipe Book</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
          <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Save Data</a></li>
              <li><a href="#">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <!-- <div ngbDropdown class="dropdown">
    <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
  Dropdown button
  </button>
    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
      <li><a ngbDropdownItem href="#">Action</a></li>
      <li><a ngbDropdownItem href="#">Another action</a></li>
      <li><a ngbDropdownItem href="#">Something else here</a></li>
    </ul>
  </div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div  class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a  class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li class="nav-item"><a  class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>
      <ul class="navbar-nav " >
        <li class="dropdown" >
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown" role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >Manage <span class="caret"></span></a>
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
           >
            <li ><a class="dropdown-item" href="#">Save Data</a></li>
            <li ><a class="dropdown-item" href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
